<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fast_Food</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fast_Food.styles.css" asp-append-version="true" />

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

</head>
<body>
    <header>
        @{
            string actionName = ViewContext.RouteData.Values["action"]?.ToString();
            string controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
            var id = Context.Request.RouteValues["id"];
        }

        @if (!(controllerName == "DangNhap" && (actionName == "Login" || actionName == "Register" || actionName == "LienHe")
        || (controllerName == "KhachHangs" && actionName == "Edit" && controllerName == "MonAns" && actionName == "QuanLySanPham" && 
        controllerName == "HoaDons" && actionName == "ThemHoaDonMoi" && id != null)))  // Thêm điều kiện hiển thị thanh tìm kiếm
        {
            <div class="search-bar">
                <form asp-action="Index" asp-controller="MonAns" method="get" class="d-flex">
                    <input class="form-control me-2 search-input" type="search" name="TimKiem" placeholder="Tìm kiếm..." aria-label="Search"><button class="btn btn-outline-success d-flex align-items-center justify-content-center"style="width: 130px; gap: 5px;" type="submit">
                        <ion-icon name="search"></ion-icon> Tìm Kiếm
                    </button>
                </form>
            </div>
        }
        @{
            var maKhachHang = Context.Session.GetString("MaKhachHang");
            var tenKhachHang = Context.Session.GetString("TenKhachHang");
            var tenNhanVien = Context.Session.GetString("TenNhanVien");
            var maNhanVien = Context.Session.GetString("MaNhanVien");
            var avatar = Context.Session.GetString("Avatar") ?? "/img/avatars/default-avatar.jpg";
        }
        @if (Context.Session.GetString("MaKhachHang") != null)
        {
            <div class="account-icon-container">
                <div class="account-dropdown d-flex align-items-center">
                    <div class="account-dropdown">
                        <span class="ms-2">Xin chào, @tenKhachHang</span>
                    </div>

                    <div class="dropdown-menu">
                        <a href="@Url.Action("Edit", "KhachHangs", new { id = maKhachHang })">Thông tin cá nhân</a>
                        <a href="@Url.Action("Index", "HoaDons", new { id = maKhachHang })">Đơn mua</a>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="@Url.Action("Logout", "DangNhap")">Đăng xuất</a></li>
                    </div>
                </div>
            </div>
            <!-- Icon Giỏ Hàng -->
            <a href="@Url.Action("Index", "GioHangs")" class="cart-icon">
                <i class="fas fa-shopping-cart"></i>
                <!-- Hiển thị số lượng sản phẩm trong giỏ hàng -->
                <span class="cart-badge">@ViewBag.SoLuongGioHang</span>
            </a>
        }
        else if(Context.Session.GetString("MaNhanVien") != null)
        {
            <div class="account-icon-container">
                <div class="account-dropdown d-flex align-items-center">
                    <div class="account-dropdown">
                        <span class="ms-2">Xin chào, @Context.Session.GetString("TenNhanVien")</span>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="@Url.Action("Edit", "NhanViens", new { id = maNhanVien })">Thông tin cá nhân</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="@Url.Action("Logout", "DangNhap")">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        }
        else
        {
            <div class="account-login d-flex gap-2 account-icon-container">
                <a href="@Url.Action("Login", "DangNhap")">Đăng nhập</a> /
                <a href="@Url.Action("DangKy", "DangNhap")">Đăng ký</a>
            </div>
        }
        <!-- Menu Icon -->
        <button class="menu-toggle" id="menu-toggle" style="color : white ">
            <ion-icon id="menu-icon" name="menu-sharp"></ion-icon><!-- Biểu tượng mặc định -->
        </button>
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            @if (Context.Session.GetString("MaKhachHang") != null)
            { 

            <ul class="nav flex-column">
                <nav>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="~/img/Poly food.png" alt="Poly Food" class="nav-logo" />
                    </a>
                </nav>
                <li class="nav-item p-2">
                    <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Gà">
                        <ion-icon class="fas fa-drumstick-bite"></ion-icon> Gà
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Kem">
                        <ion-icon name="ice-cream-outline"></ion-icon> Kem  
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Burger">
                        <ion-icon name="fast-food-outline"></ion-icon> Burger
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Pizza">
                        <ion-icon name="pizza-outline"></ion-icon> Pizza
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Khoai Tây">
                        <ion-icon name="fast-food-outline"></ion-icon> Khoai Chiên
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Đồ Uống">
                        <ion-icon name="beer-outline"></ion-icon> Nước Uống
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Combo">
                        <ion-icon name="restaurant-outline"></ion-icon> Combo
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" asp-controller="DangNhap" asp-action="LienHe">
                        <ion-icon name="call-outline"></ion-icon> Liên Hệ
                    </a>
                </li>
            </ul>   
            }
            else if (Context.Session.GetString("MaNhanVien") != null){
                <ul class="navbar-nav">
                    <nav>
                        <a class="navbar-brand">
                            <img src="~/img/Poly food.png" alt="Poly Food" class="nav-logo" />
                        </a>
                    </nav>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="@Url.Action("QuanLySanPham", "MonAns")">
                            <i class="fas fa-cogs p-2"></i> Quản lý Sản phẩm
                        </a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="@Url.Action("DanhSachKhachHang", "KhachHangs")">
                            <i class="fas fa-users p-2"></i> Quản lý Khách hàng
                        </a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="@Url.Action("ThongKe", "HoaDons")">
                            <i class="fas fa-chart-line p-2"></i> Thống kê Đơn hàng
                        </a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="@Url.Action("XacNhanDon", "HoaDons")">
                            <i class="fas fa-check-circle p-2"></i> Xác nhận Đơn hàng
                        </a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="@Url.Action("HoaDon", "HoaDons")">
                            <i class="fas fa-file-invoice p-2"></i> Quản lý Hóa đơn
                        </a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="@Url.Action("ThemHoaDonMoi", "HoaDons")">
                            <i class="fas fa-file-invoice p-2"></i> Thanh Toán Trực Tiếp 
                        </a>
                    </li>
                </ul>
            }
            else{
                <ul class="nav flex-column">
                    <nav>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                            <img src="~/img/Poly food.png" alt="Poly Food" class="nav-logo" />
                        </a>
                    </nav>
                    <li class="nav-item p-2">
                        <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Gà">
                            <ion-icon class="fas fa-drumstick-bite"></ion-icon> Gà
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Kem">
                            <ion-icon name="ice-cream-outline"></ion-icon> Kem
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Burger">
                            <ion-icon name="fast-food-outline"></ion-icon> Burger
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Pizza">
                            <ion-icon name="pizza-outline"></ion-icon> Pizza
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Khoai Tây">
                            <ion-icon name="fast-food-outline"></ion-icon> Khoai Chiên
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Đồ Uống">
                            <ion-icon name="beer-outline"></ion-icon> Nước Uống
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" asp-controller="MonAns" asp-action="Index" asp-route-LoaiSanPham="Combo">
                            <ion-icon name="restaurant-outline"></ion-icon> Combo
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" asp-controller="DangNhap" asp-action="LienHe">
                            <ion-icon name="call-outline" ></ion-icon> Liên Hệ
                        </a>
                    </li>
                </ul>
            }
        </div>
    </header>

    <!-- Main Content -->
    <div class="main-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sidebar = document.getElementById('sidebar');
            const menuToggle = document.getElementById('menu-toggle');
            const menuIcon = document.getElementById('menu-icon'); // Lấy icon
            const mainContent = document.querySelector('.main-content');

            // Kiểm tra trạng thái sidebar từ localStorage
            if (localStorage.getItem('sidebarActive') === 'true') {
                sidebar.classList.add('active');
                mainContent.style.marginLeft = '250px';
                menuIcon.style.color = 'white'; // Mở: icon trắng
            } else {
                menuIcon.style.color = 'black'; // Tắt: icon đen
            }

            // Toggle trạng thái sidebar khi nhấn vào menu-toggle
            menuToggle.addEventListener('click', function () {
                sidebar.classList.toggle('active');

                if (sidebar.classList.contains('active')) {
                    mainContent.style.marginLeft = '250px';
                    menuIcon.style.color = 'white'; // Mở: icon trắng
                    localStorage.setItem('sidebarActive', 'true');
                } else {
                    mainContent.style.marginLeft = '0';
                    menuIcon.style.color = 'black'; // Tắt: icon đen
                    localStorage.setItem('sidebarActive', 'false');
                }
            });
        });

    </script>
</body>
</html>
