@model Fast_Food.Models.Voucher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTienGiam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTienGiam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLanSuDungToiDa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLanSuDungToiDa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLanSuDungHienTai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLanSuDungHienTai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaVoucher">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
